<body>

    <div class="container">
        <div class="title">Teacher Registration</div>
        <form action="#">
            <div class="user__details">
                <div class="input__box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="E.g: Bob Smith" required>
                </div>
                <div class="input__box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Bob2005" required>
                </div>
                <div class="input__box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Enter your email here" required>
                </div>
                <div class="input__box">
                    <span class="details">Phone Number</span>
                    <input type="tel" placeholder="Phone No" required>
                </div>

                <div class="input__box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="********" required>
                </div>
                <div class="input__box">
                    <span class="details">Confirm Password</span>
                    <input type="password" placeholder="********" required>
                </div>



            </div>

            <div class="gender__details">
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3">
                <span class="gender__title">Gender</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span>Male</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span>Female</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span>Other</span>
                    </label>
                </div>


            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</body>