@font-face {
    font-family: "helvatica";
    src: url("./fonts/HelveticaNowText-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvatica;
}
html, body {
    height: 100%;
    width: 100%;
}
