<div class="main-cont">
  <div class="hero">
    <h1>
      Education is the most powerful weapon which you can use to change the world
    </h1>
    <p>
      If you can influence one life, you automatically influence the livelihood in their vicinity. Education can bring about that change both in their lives and their livelihood. We aim to foster the same in the hope of a better and brighter world irrespective of economic and social disparity.
    </p>
    <button class="button-52" role="button">Explore</button>
  </div>
  <div class="illustration"></div>
</div>
