<div class="main-cont">
    <div class="hero">
        
            <h1>Education is the most powerful wepon which you can use to change the world</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos perferendis quo deleniti? Minus
                necessitatibus soluta expedita! Illo id, repellendus odit numquam corporis omnis.</p>
            <button class="button-52" role="button">Explore</button>
        
    </div>
    <div class="illustration">
        
    </div>
</div>
