.nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #6E2BF3;
    color: white;
    height: 80px;
}

.links {
    text-decoration: none;
    margin: 0 12px;
    font-size: 23px;
    color: white;
}

.linksName {
    text-decoration: none;
    margin: 0 12px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.drop-down-menu {
    position: relative;
    display: inline-block;
}

.list {
    position: absolute;
    text-align: center;
    padding: 8px 16px;
    background-color: white;
    border-radius: 5px;
    top: 25px;
    left: 2px;
    z-index: 1;
    display: none;
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.item {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: block;
    color: black;
    cursor: pointer;
    padding: 8px;
    text-decoration: none;
}

.drop-down-menu:hover .list {
    display: block;
}

.item:hover {
    color: #6E2BF3;
}