<!-- <h1>{{title}}</h1> -->

<!-- <nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> -->

<div class="nav-cont">
  <app-title-bar></app-title-bar>
  <nav>
      <a class="links" routerLink="home">Home </a>
      <a class="links" routerLink="services">Services </a>
      <a class="links" routerLink="contact-us">Contact </a>
      <a class="links" routerLink="pop-up">LogIn</a>
      <!-- <span class="linksName"> Student 1 <i class="fa fa-angle-down" aria-hidden="true"></i> </span> -->
  </nav>
</div>
<router-outlet></router-outlet>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">