<div class="main">
    <div class="cont">
        <div class="header">
            <h3>Student Login</h3>
        </div>
        <div class="input-cont">
            <div class="input-inner">
                <p>Email/Username</p>
                <input type="text" class="email" placeholder="Email/Username">
            </div>
            <div class="input-inner">
                <p>Password</p>
                <input type="password" class="password" placeholder="Password">
            </div>
        </div>
        <div class="button">
            <button>Login</button>
        </div>
    </div>
</div>
